#home{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0 10vw;
    background: rgba(0,0,0, .4);
    
    
    p{
        color: #FFF;
        width: 100%;
    }
    
    .intro{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .quote{
            font-size: 1.5vw;
            font-family: $btn;
            width: initial;
            animation: fadeInOut 4s ease forwards;
        }
    }
    
    .name{
        font-family: $heading;
        font-size: 5vw;
        position: relative;
        opacity: 0;
        animation: fadein 1s ease forwards;
        animation-delay: 4.3s;
        text-transform: capitalize;
        
        &::before{
            content: '—';
            font-size: 5vw;
            color: #FFF;
            position: absolute;
            bottom: -3vw;
            left: -35px;
        }
    }
    
    .flavor{
        font-family: $body;
        font-size: 2vw;
        margin-top: 2vw;
        padding-right: 20vw;
        font-style: italic;
        opacity: 0;
        animation: fadeinUp 1s ease forwards;
        animation-delay: 5s;
    }
    
    .preview{
        position: absolute;
        right: 10vw;
        bottom: -100px;
        transition-duration: .2s;
        opacity: 0;
        animation: fadeinUp 1s ease forwards;
        animation-delay: 5.5s;
        
        &:hover{
            bottom: 5px;
            
            p{ opacity: 0; transition-duration: .5s; }
        }
        
        .card{ border-radius: 10px; }
        
        p{
            font-family: $btn;
            font-size: .8em;
            pointer-events: none;
            transition-duration: .5s;
            
            &:first-of-type{
                position: absolute;
                width: 130px;
                left: 230px;
                bottom: 130px;
                
                &:before{
                    content: 'set';
                    font-size: 0.7em;
                    position: absolute;
                    top: -10px;
                    left: 0;
                }
            }
            
            &:last-of-type{
                position: absolute;
                top: 120px;
                right: 230px;
                text-align: right;
                
                &:before{
                    content: 'artist';
                    font-size: 0.7em;
                    position: absolute;
                    top: -10px;
                    right: 0;
                }
            }
        }
    }
    
    .share{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        border: none;
        padding: 10px;
        font-size: 1vw;
        border-radius: 16px;
        text-decoration: none;
        width: 100px;
        color: #FFF;
        font-family: $heading;
        transition-duration: .2s;
        position: absolute;
        bottom: 3vw;
        font-family: $btn;
        opacity: 0;
        animation: fadeinUp 1s ease forwards;
        animation-delay: 6s;
        
        img{
            width: 25px;
            pointer-events: none;
        }
        
        &:hover{
            cursor: pointer;
            background: #20A2F2;
        }
    }
    
    .donate{
        width: 130px;
        left: 20vw;
        background: transparent;
        
        &:hover{
            background: #1ea21e;
        }
    }
}

@media screen and (max-width: 490px){
        .name{
            font-size: 10vw !important;
        }
        
        .flavor{
            font-size: 8vw !important;
        }
    }