*{ 
    margin: 0; 
    cursor: default;
}

@import './fonts';
@import './mixins';

body{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #222;
    background-image: url('../res/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile{
        height: 100%;
    }
}