@media screen and (max-width: 490px){
    #home{
        padding: 5vw;
        align-content: flex-start;
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: center;
        align-content: center;
        
        .intro{
            .quote{font-size: 4.5vw;}
        }
        
        .name{
            
            &:before{
                left: -5px;
                bottom: -4vw;
            }
        }
        
        .flavor{ 
            padding-right: 0; 
            font-size: 5vw !important;
            margin-top: 20px;
        }
        
        .preview{ 
            position: relative;
            right: 0;
            bottom: 0;
            display: block;
            margin: 30px auto;
            pointer-events: none;
            margin-bottom: 50px;
            
            p{
                &:first-of-type{
                    width: 17vw;
                }
                
                &:last-of-type{
                    width: 17vw;
                }
            }
        }
        
        .share{ 
            font-size: 4.5vw;
        }
        .donate{ 
            left: 35vw;
        }
    }
}